<div class="card mb-3 text-white">
  <div class="card-body bg-info">
    <h5 class='card-title mb-1'>You do not have an event to host</h5>
    <%= link_to "Create a new Event", new_event_path, class: "btn btn-success btn-sm"%>
  </div>
</div>