<div class="container-fluid homepage">
</div>
<div class="text-white homepage-content">
  <h1 class="text-white font-weight-bold mt-5 pt-5">Welcome to Private Event</h1>
  <p class="lead intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vel repudiandae aliquam deleniti asperiores? Mollitia laboriosam nisi delectus expedita quod.</p>
  <ul class="links px-0">
    <%= render_homepage %>
  </ul>
</div>