<div class="row">
      <div class="col-md-8 mx-auto card mb-2 bg-dark text-white">
        <div class="card-body">
          <h4 class="card-title mb-1"><%= obj.title %></h4> 
          <p class="lead mb-1"><%= obj.description %></p> 
           Created by:- <%= obj.creator.name%>
          <div class="card-footer">
            <%= render_event(obj) %>
          </div>
        </div>
      </div>
</div>