@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

.homepage {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../../assets/images/bg.jpg) no-repeat center center fixed;
  height: 100%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  color: #fff;
}

.homepage-content {
  .intro {
    width: 600px;
  }
}

.links {
  display: flex;
  list-style: none;

  a {
    margin-right: 1rem;

    &:hover {
      background: #bcbdc5;
      padding: 5px 10px;
      color: rgb(32, 20, 20);
    }
  }
}

.main-container {
  min-height: 70vh;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  height: 10vh;
  padding: 2rem;
  font-size: 1.2rem;
}

.custom-background,
footer {
  background: rgb(21, 19, 50);
  background: linear-gradient(90deg, rgba(21, 19, 50, 1) 20%, rgba(54, 96, 105, 1) 41%, rgba(6, 30, 52, 1) 100%);
}

.dropdown-item:hover {
  background: rgb(21, 19, 50);
  background: linear-gradient(90deg, rgba(21, 19, 50, 1) 20%, rgba(54, 96, 105, 1) 41%, rgba(6, 30, 52, 1) 100%);
  color: #fff;
}
