<li class="">
  <%= link_to('Sign In', new_user_session_path, class: 'nav-link text-white mb-3 mb-md-0', id: "signin-link-1", title: 'Sign In') %>
</li>

<li class="">
  <%= link_to('Sign Up', new_user_registration_path, class: 'nav-link text-white', title: 'Sign In') %>
</li>

